{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Racing Teams Members</h2>
        <p>The member has been successfully added!!!</p>
        <a href="/members" class="otherbuttons">View Members</a>
    </div>
{{/partial}}

{{> layout.hbs}}x