{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">F1 Racing Teams</h2>
        <p>The team has been successfully added!!!</p>
        <a href="/teams" class="otherbuttons">View Teams</a>
    </div>
{{/partial}}

{{> layout.hbs}}x