{{#partial "content"}}
<div class="content">

            {{#if username }}
                    <h1>F1 Racing Teams 2020</h1>
                    <p>Welcome to the home of F1 Racing Teams 2020</p>
                    <a href="/teams">See the Teams</a>
            {{ else }}
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Username</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <form action="/" method="post">
                                    <label data-error="wrong" data-success="right" for="username">Your username</label>
                                    <input type="text"  id="username" name="username" class="form-control validate" placeholder="Enter the username..." autocomplete="off>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
                {{/if }}
</div>

{{/partial}}

{{> layout.hbs}}