<!DOCTYPE html>
<html>
<head>
    <title>F1 TEAMS</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<div class="navbar">
    <div class="navhead">
        <img class="img" src="./images/logo.png" alt="logo">
    </div>
    <div class="navbody">
        <ul class="nav nav-tabs">
            <li role="presentation"><a class="active">Home</a></li>
            <li role="presentation"><a class="a" href="/teams">F1 Teams </a></li>
            <li role="presentation"><a class="a" href="/teams/add">Add Teams</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <!--begin main template-->
    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->

    </body>
    </html>